{
  debug
  order ja3 before respond
  http_port 8000
  servers {
     listener_wrappers {
       http_redirect
       ja3
       tls
     }
  }
}

localhost:2020 {
  ja3 block_bots true
  tls internal
  reverse_proxy http://127.0.0.1:8080
}
